<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dibidibi.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D47EEAD62014CEC33574634AD9F73CBD28292B55</string>
				<key>dateExpires</key>
				<string>2022/03/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D47EEAD62014CEC33574634AD9F73CBD28292B55</string>
						<key>dateExpires</key>
						<string>2022/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EMD6YQGHKT</string>
						<key>name</key>
						<string>Heemok Park</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D47EEAD62014CEC33574634AD9F73CBD28292B55</string>
						<key>dateExpires</key>
						<string>2022/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EMD6YQGHKT</string>
						<key>name</key>
						<string>Heemok Park</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D47EEAD62014CEC33574634AD9F73CBD28292B55</string>
						<key>dateExpires</key>
						<string>2022/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EMD6YQGHKT</string>
						<key>name</key>
						<string>Heemok Park</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D47EEAD62014CEC33574634AD9F73CBD28292B55</string>
						<key>dateExpires</key>
						<string>2022/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EMD6YQGHKT</string>
						<key>name</key>
						<string>Heemok Park</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D47EEAD62014CEC33574634AD9F73CBD28292B55</string>
						<key>dateExpires</key>
						<string>2022/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EMD6YQGHKT</string>
						<key>name</key>
						<string>Heemok Park</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D47EEAD62014CEC33574634AD9F73CBD28292B55</string>
						<key>dateExpires</key>
						<string>2022/03/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EMD6YQGHKT</string>
						<key>name</key>
						<string>Heemok Park</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>EMD6YQGHKT.kr.dibidibi.www</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>EMD6YQGHKT</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>dibidibi.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>30fb6d7c-043a-43e0-8c59-97239b523f3f</string>
				<key>name</key>
				<string>dibidibi_dev_210409</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>EMD6YQGHKT</string>
				<key>name</key>
				<string>Heemok Park</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
